$p: "Poppins", sans-serif;
$t: "title";
$st: "subtitle";
$tl: "tile";

@font-face {
  font-family: "title";
  src: url("./fonts/title.ttf");
}

@font-face {
  font-family: "subtitle";
  src: url("./fonts/subtitle.ttf");
}

@font-face {
  font-family: "tile";
  src: url("./fonts/tile.ttf");
}
