@import "./global.scss";

@keyframes difficulty_animate_in {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes difficulty_animate_out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(30px);
  }
}

@keyframes board-move {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(5px, 2.5px);
  }
  40% {
    transform: translate(-5px, -4.5px);
  }
  60% {
    transform: translate(-5px, 5px);
  }
  80% {
    transform: translate(2px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #6be9ff;
  overflow: hidden;
}

*::selection {
  background: #0f0;
}

.site {
  &__nav {
    padding: 16px;
  }

  &__logo {
    display: flex;
    align-items: center;
    font-family: $t;
    font-weight: 600;
    font-size: 27px;
    letter-spacing: 1px;

    &--green {
      color: #089520;
    }
  }

  &__start-game-btn--out {
    animation: difficulty_animate_out 0.4s forwards 0.2s !important;
  }

  &__start,
  &__difficulty,
  &__board-overlay {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
  }

  &__start {
    display: flex;
  }

  &__difficulty {
    display: none;
  }

  &__board-overlay {
    display: none;
    margin: 0;
  }

  &__btn {
    &--green,
    &--yellow,
    &--red {
      margin: 0 5px;
    }

    &--green {
      background: #8fff7b !important;
      color: #089716 !important;
      opacity: 0;
      transform: translateX(30px);
      animation: difficulty_animate_in 0.5s forwards 0.1s;

      &--out {
        opacity: 1;
        transform: translateX(0);
        animation: difficulty_animate_out 0.4s forwards 0.1s;
      }

      &::after {
        content: "";
        background: #089716 !important;
      }
    }

    &--yellow {
      background: #fdff83 !important;
      color: #aca40b !important;
      opacity: 0;
      transform: translateX(30px);
      animation: difficulty_animate_in 0.5s forwards 0.2s;

      &--out {
        opacity: 1;
        transform: translateX(0);
        animation: difficulty_animate_out 0.4s forwards 0.2s;
      }

      &::after {
        content: "";
        background: #aca40b !important;
      }
    }

    &--red {
      background: #ff7171 !important;
      color: #a50f0f !important;
      opacity: 0;
      transform: translateX(30px);
      animation: difficulty_animate_in 0.5s forwards 0.3s;

      &--out {
        opacity: 1;
        transform: translateX(0);
        animation: difficulty_animate_out 0.4s forwards 0.3s;
      }

      &::after {
        content: "";
        background: #a50f0f !important;
      }
    }
  }

  &__play {
    &-header {
      font-family: $t;
      font-size: 42px;

      &--out {
        animation: difficulty_animate_out 0.4s forwards;
      }
    }

    &-difficulty-header {
      animation: difficulty_animate_in 0.5s forwards;

      &--out {
        animation: difficulty_animate_out 0.4s forwards;
      }
    }

    &-subtitle {
      font-family: $st;
      margin-top: 0;
      font-size: 14px;
      color: #797979;

      &--out {
        animation: difficulty_animate_out 0.4s forwards 0.1s;
      }
    }
  }

  &__play {
    position: relative;
    margin-top: 20px;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 17px;
    font-family: $st;
    letter-spacing: 0.5px;
    border: none;
    cursor: pointer;
    background: #109305;
    color: #81ff7c;
    transition: 0.15s;

    &:hover {
      background: #1f9e23;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 7px;
      background: #0b5f05;
    }
  }

  &__mute-icon {
    font-size: 18px;
  }

  &__mute-btn {
    margin-left: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  &__background-ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
  }

  &__cloud {
    width: 400px;
    position: absolute;
    right: -400px;
    z-index: -1;
  }

  &__board-container {
    opacity: 0;
    transform: translate(30px);
    animation: difficulty_animate_in 0.5s forwards;
    padding: 0 24px;
    height: 500px;
    background: #40404096;
    border-radius: 12px;
    z-index: 1;
    overflow: hidden;
  }

  &__board-statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  &__board-over {
    overflow: hidden;
  }

  &__board-value {
    display: flex;
    background: rgba(218, 218, 218, 0.589);
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 40px;
    border-radius: 8px;
    padding: 0 5px;
    font-family: $st;
    font-size: 10px;
  }

  &__board {
    margin: auto;
    background: #f00;
    display: flex;
    flex-wrap: wrap;

    &--move {
      animation: board-move 0.3s linear forwards;
    }
  }

  &__board-tile {
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;

    &--marked {
      background: #dbdbdb !important;
      font-family: $st;
    }

    &--bomb {
      background: #f00 !important;
    }

    &--light-green {
      background: #8bff8b;

      &:hover {
        background: darken(#8bff8b, 10%);
      }
    }

    &--dark-green {
      background: #35cd3a;

      &:hover {
        background: lighten(#35cd3a, 10%);
      }
    }
  }

  &__board-val {
    margin-left: 5px;
    margin-top: 17px;
  }

  &__board-header {
    font-size: 19px;
    color: #dedede;
    font-family: $st;
    padding: 12px;
    margin-top: 12px;
  }

  &__board-flag {
    width: 20px;
  }
}
