@import "./global.scss";

@keyframes gameover-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes difficulty_animate_in {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes difficulty_animate_out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(30px);
  }
}

@keyframes board-move {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(5px, 2.5px);
  }
  40% {
    transform: translate(-5px, -4.5px);
  }
  60% {
    transform: translate(-5px, 5px);
  }
  80% {
    transform: translate(2px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #6be9ff;
  overflow: hidden;
}

*::selection {
  background: #0f0;
}

.site {
  &__nav {
    padding: 16px;
  }

  &__logo {
    display: flex;
    align-items: center;
    font-family: $t;
    font-weight: 600;
    font-size: 27px;
    letter-spacing: 1px;

    &--green {
      color: #089520;
    }
  }

  &__start-game-btn--out {
    animation: difficulty_animate_out 0.4s forwards 0.2s !important;
  }

  &__start,
  &__difficulty,
  &__board-overlay {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
  }

  &__start {
    display: flex;
  }

  &__difficulty {
    display: none;
  }

  &__board-overlay {
    display: none;
    margin: 0;

    &--out {
      animation: difficulty_animate_out 0.5s forwards;
    }
  }

  &__btn {
    &--green,
    &--yellow,
    &--red {
      margin: 0 5px;
    }

    &--green {
      background: #8fff7b !important;
      color: #089716 !important;
      opacity: 0;
      transform: translateX(30px);
      animation: difficulty_animate_in 0.5s forwards 0.1s;

      &--out {
        opacity: 1;
        transform: translateX(0);
        animation: difficulty_animate_out 0.4s forwards 0.1s;
      }

      &::after {
        content: "";
        background: #089716 !important;
      }
    }

    &--yellow {
      background: #fdff83 !important;
      color: #aca40b !important;
      opacity: 0;
      transform: translateX(30px);
      animation: difficulty_animate_in 0.5s forwards 0.2s;

      &--out {
        opacity: 1;
        transform: translateX(0);
        animation: difficulty_animate_out 0.4s forwards 0.2s;
      }

      &::after {
        content: "";
        background: #aca40b !important;
      }
    }

    &--red {
      background: #ff7171 !important;
      color: #a50f0f !important;
      opacity: 0;
      transform: translateX(30px);
      animation: difficulty_animate_in 0.5s forwards 0.3s;

      &--out {
        opacity: 1;
        transform: translateX(0);
        animation: difficulty_animate_out 0.4s forwards 0.3s;
      }

      &::after {
        content: "";
        background: #a50f0f !important;
      }
    }
  }

  &__play {
    &-header {
      font-family: $t;
      font-size: 42px;

      &--out {
        animation: difficulty_animate_out 0.4s forwards;
      }
    }

    &-difficulty-header {
      animation: difficulty_animate_in 0.5s forwards;

      &--out {
        animation: difficulty_animate_out 0.4s forwards;
      }
    }

    &-subtitle {
      font-family: $st;
      margin-top: 0;
      font-size: 14px;
      color: #797979;

      &--out {
        animation: difficulty_animate_out 0.4s forwards 0.1s;
      }
    }
  }

  &__play {
    position: relative;
    margin-top: 20px;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 17px;
    font-family: $st;
    letter-spacing: 0.5px;
    border: none;
    cursor: pointer;
    background: #109305;
    color: #81ff7c;
    transition: 0.15s;

    &:hover {
      background: #1f9e23;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 7px;
      background: #0b5f05;
    }
  }

  &__mute-icon {
    position: relative;
    font-size: 18px;

    &-muted {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: #f00;
    }
  }

  &__mute-btn {
    margin-left: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  &__background-ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
  }

  &__cloud {
    width: 400px;
    position: absolute;
    right: -400px;
    z-index: -1;
  }

  &__board-container {
    opacity: 0;
    animation: difficulty_animate_in 0.5s forwards;
    padding: 0 24px;
    height: 500px;
    background: #40404096;
    border-radius: 12px;
    z-index: 1;
    overflow: hidden;
  }

  &__board-statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  &__board-over {
    overflow: hidden;
  }

  &__board-value {
    display: flex;
    background: rgba(218, 218, 218, 0.589);
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 40px;
    border-radius: 8px;
    padding: 0 5px;
    font-family: $st;
    font-size: 10px;
  }

  &__board {
    margin: auto;
    background: #f00;
    display: flex;
    flex-wrap: wrap;

    &--move {
      animation: board-move 0.3s linear forwards;
    }
  }

  &__board-tile {
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;

    &--flag {
      background-image: url("./src/assets/flag.png") !important;
      background-size: 25px !important;
    }

    &--explosion {
      background: #f00 !important;
    }

    &--marked {
      background: #dbdbdb !important;
      font-family: $st;
      cursor: default;
    }

    &--light-green {
      background: #8bff8b;

      &:hover {
        background: darken(#8bff8b, 10%);
      }
    }

    &--dark-green {
      background: #35cd3a;

      &:hover {
        background: lighten(#35cd3a, 10%);
      }
    }
  }

  &__board-val {
    margin-left: 5px;
    margin-top: 17px;
  }

  &__board-header {
    font-size: 19px;
    color: #dedede;
    font-family: $st;
    padding: 12px;
    margin-top: 12px;
  }

  &__board-flag {
    width: 20px;
  }

  &__game-over {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: #00000096;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 3;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    animation: gameover-in 0.3s forwards;
  }

  &__game-over-header {
    opacity: 0;
    transform: translateX(30px);
    margin-top: 50px;
    font-size: 31px;
    color: #ff7c7c;
    font-family: $t;

    animation: difficulty_animate_in 0.3s forwards 0.2s;
  }

  &__badges {
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__badge {
    opacity: 0;
    transform: translateX(30px);
    background: rgba(184, 184, 184, 0.79);
    margin: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0 12px;
    border-radius: 3px;
    font-family: $st;
    font-size: 13px;
    color: #474747;
    animation: difficulty_animate_in 0.3s forwards;
  }

  @for $i from 1 through 3 {
    &__badge:nth-child(#{$i}) {
      animation-delay: $i * 0.1s + 0.2s;
    }
  }

  &__badge-text {
    margin-top: 10px;
    margin-bottom: 2px;
  }

  &__game-over-icon {
    transform: translateY(-9px);
    margin-right: 5px;
  }

  @for $i from 1 through 3 {
    &__game-over-btn:nth-child(#{$i}) {
      animation-delay: $i * 0.1s + 0.5s;
    }
  }

  &__game-over-btn {
    position: relative;
    width: calc(100% - 32px);
    margin: 5px 0;
    padding: 12px 0;
    border: none;
    cursor: pointer;
    font-family: $st;
    font-size: 13px;
    opacity: 0;
    transform: translateX(30px);
    animation: difficulty_animate_in 0.3s forwards;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 7px;
      width: 100%;
    }

    &--again {
      background: #1cff1f;

      &::after {
        background: #0c9c1f;
      }
    }

    &--X {
      background: #000000;
      color: #fff;

      &::after {
        background: #5f5f5f;
      }
    }

    &--facebook {
      background: #4239b5;
      color: #fff;

      &::after {
        background: #2488d3;
      }
    }
  }

  &__game-over-btns {
    width: 100%;
    position: absolute;
    bottom: 8px;
    left: 16px;
    display: flex;
    flex-direction: column;
  }
}
