@import "./global.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #6be9ff;
}

*::selection {
  background: #0f0;
}

.site {
  &__nav {
    padding: 16px;
  }

  &__logo {
    display: flex;
    align-items: center;
    font-family: $t;
    font-weight: 600;
    font-size: 27px;
    letter-spacing: 1px;

    &--green {
      color: #089520;
    }
  }

  &__start {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
  }

  &__play {
    &-header {
      font-family: $t;
      font-size: 42px;
    }

    &-subtitle {
      font-family: $st;
      margin-top: 0;
      font-size: 14px;
      color: #797979;
    }
  }

  &__play {
    position: relative;
    margin-top: 20px;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 17px;
    font-family: $st;
    letter-spacing: 0.5px;
    border: none;
    cursor: pointer;
    background: #109305;
    color: #81ff7c;
    transition: 0.15s;

    &:hover {
      background: #1f9e23;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 7px;
      background: #0b5f05;
    }
  }

  &__mute-icon {
    font-size: 18px;
  }

  &__mute-btn {
    margin-left: 5px;
    border: none;
    background: transparent;
  }

  &__background-ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
  }

  &__cloud {
    width: 400px;
    position: absolute;
    right: -400px;
    z-index: -1;
  }
}
